recursive-include bookworm *.ico
recursive-include bookworm/resources/soundfiles *.wav
recursive-include bookworm/resources/images *.png
recursive-include bookworm/resources/icons *.ico
recursive-include bookworm/resources *.txt
recursive-include bookworm/resources *.html
recursive-include bookworm/resources/locale *.mo
recursive-include bookworm/resources/fonts *.ttf
recursive-include bookworm/resources/readium_js_viewer_lite *.*
recursive-exclude tests *

