# Our in-house packages
# Our fork of the configobj (py3k compatible version).
https://github.com/blindpandas/configobj/tarball/v5.1.0.dev0

accessible-output2==0.17
alembic==1.13.2
apsw==3.46.0.0
attrs==23.2.0
babel==2.15.0
banal==1.0.6
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
bottle==0.12.25
chardet==4.0.0
comtypes==1.4.2
cssselect==1.1.0
dateparser==1.2.0
demandimport==0.3.4
diskcache==5.4.0
docrpy==0.2.0;sys_platform=="win32"
EbookLib==0.18
ftfy==6.2.0
fuzzywuzzy==0.18.0
inscriptis==2.5.0
languagecodes==1.0.7
libloader==0.21
lru-dict==1.1.8
lxml==5.2.2
mammoth==1.7.1
mistune==0.8.4
mobi==0.3.3
more-itertools==10.2.0
msgpack==1.0.8
msoffcrypto-tool==5.0.0
neosynth==3.2.0;sys_platform=="win32"
numpy==1.26.4
odfpy==1.4.1
opencv-python-headless==4.8.1.78
peewee==3.17.5
Pillow==10.3.0
platform-utils==1.5.1
pydantic==2.4.0
pymediawiki==0.7.4
PyMuPDF==1.24.3
python-dateutil==2.8.2
python-docx==1.1.2
python-pptx==0.6.21
pywhatlang==1.0.0
pywin32==306;sys_platform=="win32"
#pyxpdf==0.2.3
pyxpdf-data==1.1.0
rapidfuzz==3.9.3
regex==2024.5.15
requests==2.32.3
selectolax==0.3.21
SQLAlchemy > 2
trafilatura==1.10.0
tzlocal==4.2
ujson==5.10.0
unicode-slugify==0.1.5
unrar==0.4
url-normalize==1.4.3
waitress==3.0.0
winpaths==0.2
wxPython==4.2.1
yarl==1.9.4
