# Our in-house packagesbp-accessible-output2==0.5bp-db-magic==0.2bp-lib-loader==0.21bp-platform-utils==0.40bp-winpaths==0.2;sys_platform=="win32"# Our fork of the configobj (py3k compatible version).https://github.com/blindpandas/configobj/tarball/v5.1.0.dev0babel==2.9.0banal==1.0.4blinker==1.4chemical==1.0.1docrpy==0.1.1;sys_platform=="win32"ftfy==5.8languagecodes==1.0.7lru-dict==1.1.6mistune==0.8.4more-itertools==8.7.0numpy==1.20.0opencv-python-headless==4.5.1.48Pillow==8.1.0pycld2==0.41PyMuPDF==1.18.6pytesseract==8.1.0pythonnet==2.5.1;sys_platform=="win32"pywin32==228;sys_platform=="win32"pyxpdf==0.2.3pyxpdf-data==1.1.0trafilatura==0.7.0regex==2020.11.13requests==2.25.1selectolax==0.2.10SQLAlchemy==1.3.22ujson==4.0.2unicode-slugify==0.1.3url-normalize==1.4.2wikipedia==1.4.0wxPython==4.1.1