babel==2.9.0blinker==1.4chemical==1.0.1mistune==0.8.4pycld2==0.41;sys_platform=="linux"PyMuPDF==1.17.7pythonnet==2.5.1;sys_platform=="win32"pywin32==228;sys_platform=="win32"trafilatura==0.5.2regex ==2020.9.27requests==2.24.0selectolax==0.2.7SQLAlchemy==1.3.19ujson==3.2.0unicode-slugify==0.1.3url-normalize==1.4.2wikipedia==1.4.0wxPython==4.1.0