-r requirements-app.txt

black==22.12.0
distro==1.5.0;sys_platform=="linux"
isort==5.11.3
jinja2==3.1.2
packaging==22.0
PyInstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pytest==7.2.0
pytest-xdist==3.1.0
wheel==0.38.4
